span ng-init="action.query.search[f] = action.query.search[f] || {}"
  .col-lg-3.col-md-4.col-sm-4
    .form-group
      .input-group.input-group-sm
        input.btn.btn-default [
          type="text"
          class="form-control"
          placeholder="{{::info.loc}} <"
          xng-model="value"
          ng-model="action.query.search[f].from"
          ng-change="action.search_field_change(f)"
          xe2-decimal-date-picker="" range="from"
          data-max-date="{{action.query.search[f].to}}"
          data-date-format="{{::info.render.format}}"
          data-model-date-format="yyyyMMdd"
          bs-datepicker=""
          data-autoclose="1"
          data-date-type="string"
          e2-search-field=""
        ]
        .input-group-btn
          a.btn.btn-default.disabled data-toggle="datepicker": span.glyphicon.glyphicon-calendar
          a.btn.btn-default ng-disabled="!action.query.search[f].from" ng-click="action.query.search[f].from = null; action.search_field_change(f)": span.glyphicon.glyphicon-off

  .col-lg-3.col-md-4.col-sm-4
    .form-group
      .input-group.input-group-sm
        input.btn.btn-default [
          type="text"
          class="form-control"
          placeholder="{{::info.loc}} >"
          xng-model="value"
          ng-model="action.query.search[f].to"
          ng-change="action.search_field_change(f)"
          xe2-decimal-date-picker="" range="to"
          data-min-date="{{action.query.search[f].from}}"
          data-date-format="{{::info.render.format}}"
          data-model-date-format="yyyyMMdd"
          data-animation="{{::info.render.animation}}"
          bs-datepicker=""
          data-autoclose="1"
          data-date-type="string"
          e2-search-field=""
        ]
        .input-group-btn
          a.btn.btn-default.disabled data-toggle="datepicker": span.glyphicon.glyphicon-calendar
          a.btn.btn-default ng-disabled="!action.query.search[f].to" ng-click="action.query.search[f].to = null; action.search_field_change(f)": span.glyphicon.glyphicon-off
