.col-lg-3.col-md-4.col-sm-5
  .form-group
    .input-group.input-group-sm
      button.btn.btn-default [
        type="button"
        ng-init="action.query.search[f] = action.query.search[f] || []"
        ng-model="action.query.search[f]"
        bs-options="v[0] as v[1] for v in field.render.values"
        data-html="true"
        ng-change="action.search_field_change(f)"
        ng-class="field.render.class"
        class="form-control"

        data-animation="{{::field.render.animation}}"
        data-placeholder="{{::field.loc}}"
        data-multiple="1"
        data-max-length-html="wybranych"
        bs-select=""
        e2-search-field=""
      ]

      .input-group-btn
        a.btn.btn-default ng-disabled="action.query.search[f].length == 0" ng-click="action.query.search[f] = []; action.search_field_change(f)"
          span ng-bind-html="::action.meta.search_reset_icon"
