e2-action action="[field.assoc, 'typeahead']"
  .col-lg-3.col-md-4.col-sm-5
    .form-group
      .input-group.input-group-sm
        input.btn.btn-default [
          type="text"
          ng-model="action.decode"
          bs-options="v.value for v in action.load(action.decode)"

          ng-class="field.render.class"
          class="form-control"

          data-animation="{{::field.render.animation}}"
          placeholder="{{::field.loc}}"
          data-html="true"
          data-limit="{{::field.render.limit}}"
          data-min-length="{{::field.render.min_length}}"
          data-trigger="focus"
          bs-typeahead=""
          e2-search-field=""
        ]
        span.input-group-addon: span.glyphicon.glyphicon-font
        .input-group-btn
          a.btn.btn-default ng-disabled="!action.decode" ng-click="action.reset()"
            span ng-bind-html="::action.meta.search_reset_icon"
