@media screen and (min-width: 1200px) {
  .modal-large .modal-dialog {
    width: 900px;
  }

  .modal-huge .modal-dialog {
    width: 1180px;
  }
}

@media screen and (min-width: 900px) {

  .modal-medium .modal-dialog {
    width: 800px;
  }


  .modal-form .modal-dialog {
    width: 860px;
  }

/*  .modal-large .modal-dialog {
    width: 840px;
  }
*/
}

.modal-form .modal-dialog {
/*  width: 40%;*/
}

.modal-small .modal-dialog {
/*  width: 30%;  */
}

.modal-large .modal-dialog {
/*  width: 60%;*/
}

.modal-huge .modal-dialog {
/*  width: 80%;*/
}

.loader {
  visibility: hidden;
}

tr.tr_hover {
  cursor: pointer; 
  cursor: hand;
}

.control-label {
  font-weight:normal;  
}

/*.modal-backdrop{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:#000000;
}*/

/*.btn-group{
  white-space:nowrap;
}    

button {
 white-space:normal;
}
*/

/*.modal-backdrop {
  from strap docs
  z-index: 1040;
  bottom: 0px;
}
*/

/*.modal-backdrop{
  bottom:0;
}
*/
/*.modal-backdrop.fade.in {
  opacity: .7
}
*/
.popover {
  max-width: 600px;
}

/*.btn-group ul.dropdown-menu li a {
  text-decoration: none;
}
*/

/*

/* tab animations */
/*.tab-pane.am-fade {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    opacity: 1;
}
.tab-pane.am-fade.active-remove {
    display: none!important;
}
.tab-pane.am-fade.active-add {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}*/

/* nested nav bar */
.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
 
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
 
.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}
 
.dropdown-submenu .pull-left{
    float:none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* date/time pickers */
/*.datepicker.dropdown-menu {
  width:250px;
  height:270px;
}

.datepicker.dropdown-menu tbody {
  height:180px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button,.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height:65px;
}

.datepicker.dropdown-menu button,.timepicker.dropdown-menu button {
  outline:0;
  border:0;
}

.datepicker.dropdown-menu tbody button,.timepicker.dropdown-menu tbody button {
  padding:6px;
}

.timepicker.dropdown-menu {
  padding:0 4px;
}*/

a[ng-click] {cursor:pointer;}
