.col-lg-7.col-md-12.col-sm-12
  select [
    ng-model="action.record[f]"
    bs-options="v.id as v.value for v in values"
    select-resource="info.render.resource"
    bs-select=""
    ng-disabled="info.disabled"
    class="form-control input-sm"
    e2-field=""
  ]
