e2-action action="[field.assoc, 'list']"
  .col-lg-7.col-md-8.col-sm-12
    button.btn.btn-default.btn-sm [
      type="button"
      ng-model="action.selected"
      bs-options="v.id as v.value for v in action.values"
      ng-change="action.change()"
      ng-disabled="field.disabled"
      ng-class="field.render.class"
      class="form-control input-sm"

      data-animation="{{::field.render.animation}}"
      data-placeholder="..."
      data-html="true"
      bs-select=""
      e2-field=""
    ]
