.col-lg-1
  .checkbox
    input [
      ng-init="action.record[f] = action.record[f] || field.render.false_value"
      type="checkbox"
      ng-model="action.record[f]"
      ng-true-value="{{::field.render.true_value}}"
      ng-false-value="{{::field.render.false_value}}"
      ng-disabled="field.disabled"
      e2-field=""
    ]
