.col-lg-3.col-md-4.col-sm-4
  .input-group.input-group-sm
    input [
      type="text"
      ng-model="action.record[f]"
      class="form-control"
      ng-disabled="action.meta.info[f].disabled"
      e2-field=""
    ]
    span.input-group-addon ng-bind="action.meta.info[f].render.symbol"
