.col-lg-4.col-md-5.col-sm-5
  .input-group.input-group-sm
    input [
      type="text"
      ng-model="action.record[f]"
      ng-disabled="field.disabled"
      class="form-control"
      e2-field=""
    ]
    span.input-group-addon: span.glyphicon.glyphicon-plus
