/.col-lg-8.col-md-9.col-sm-12
div e2-input-cols="{{::info.render.length}}"
  .input-group.input-group-sm
    input [
      type="text"
      ng-model="action.record[f]"
      maxlength="{{::info.render.length}}"
      ng-disabled="info.disabled"
      class="form-control input-sm"
      ng-class="::info.render.class"
      e2-field=""
    ]
    span.input-group-addon: span.glyphicon.glyphicon-pencil