/.col-lg-7.col-md-8.col-sm-12
div e2-input-cols="{{::action.meta.info[f].render.length}}"
  select.btn.btn-default.btn-sm [
    ng-init="info = action.meta.info[f]"
    ng-model="action.record[f]"
    ng-options="v[0] as v[1] for v in info.render.list"
    ng-disabled="info.disabled"
    ng-class="info.render.class"
    class="form-control input-sm"
    e2-field=""
  ]
