/.col-lg-8.col-md-9.col-sm-12
div e2-input-cols="{{::field.render.length}}"
  .input-group.input-group-sm
    input [
      type="password"
      ng-model="action.record[f]"
      maxlength="{{::field.render.length}}"
      ng-disabled="field.disabled"
      class="form-control input-sm"
      ng-class="::field.render.class"
      e2-field=""
    ]
    span.input-group-addon: span.glyphicon.glyphicon-asterisk