.col-lg-3
  .btn-group.btn-group-sm [
  	ng-init="action.record[f] = action.record[f] || field.render.false_value"
    ng-model="action.record[f]"
    bs-buttons-radio=""
    e2-field=""
  ]

    button.btn.btn-default type="button" value="{{::field.render.true_value}}": span.glyphicon.glyphicon-ok
    button.btn.btn-default type="button" value="{{::field.render.false_value}}": span.glyphicon.glyphicon-remove
