.col-lg-11
  textarea [
    spellcheck="false"
    ng-model="action.record[f]"
    cols="{{field.render.cols}}"
    rows="{{field.render.rows}}"
    ng-disabled="field.disabled"
    class="form-control"
    e2-field=""
  ]