e2-action action="[field.assoc, 'typeahead']"
  /.col-lg-7.col-md-8.col-sm-12
  div e2-input-cols="{{::field.render.length}}"
    .input-group.input-group-sm
      input.btn.btn-default [
        type="text"
        ng-model="action.decode"
        bs-options="v.value for v in action.load($viewValue)"
        ng-keypress="action.key_pressed = true"

        ng-disabled="field.disabled"
        ng-class="field.render.class"
        class="form-control"

        data-animation="{{::field.render.animation}}"
        placeholder="..."
        data-html="true"
        data-limit="10"
        bs-typeahead=""
        e2-field=""
      ]
      span.input-group-addon: span.glyphicon.glyphicon-font
      .input-group-btn
        a.btn.btn-default ng-disabled="field.disabled || action.decode == null" ng-click="!field.disabled && action.reset()"
          span.glyphicon.glyphicon-off
